footer {
    background-color: hsl(233, 26%, 24%);
    height: 180px;
    margin-top: 50px;
    padding-top: 20px;
}

.wrapper {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.col {
    width: 25%;
    margin-top: 12px;
}

.col-1 > .row {
    position: relative;
    top: 35px;
}
.col svg:hover {
    cursor: pointer;
}
.row svg {
    margin: 5px;
}
.row svg:hover {
    background-color: hsl(136, 65%, 51%);
    background-size: cover;
    z-index: 0;
    cursor: pointer;
}

.nav-cont .col {
    margin-right: 50px;
    width: 100%;
}

.nav-cont li {
    list-style-type: none;
    color: #fff;
    margin: 5px;
}
.nav-cont li:hover {
    color: hsl(136, 65%, 51%);

}

.col-4 {
    margin-left: 40px;
}
button {
    width: 130px;
    height: 30px;
    margin: 2px 0px 30px 10%;
    border-radius: 20px;
    color: #fff;
    border: none;
    background-image: linear-gradient( to right, hsl(136, 63%, 66%),
    hsl(236, 19%, 72%));
    cursor: pointer;
}
span {
    color: hsl(233, 8%, 62%);
    font-weight: 500;
}